* {
  margin: 0;
  font-family: "Work Sans";
}
/* header css */
.header {
  background-image: url(../images/banner/banner2.png);
  height: 810px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
}
/* banner css */
.banner {
  width: 525px;
  margin-top: 215p;
  padding-top: 216px;
  padding-left: 65%;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  text-align: right;
}
.banner-description {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  margin-bottom: 30px;
}
.btn-banner {
  height: 64px;
  padding: 20px;
  background: #f15b22;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  border: 0;
  margin-left: 370px;
}

/* my-failure section css */
.my-failure {
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
  gap: 150px;
  margin-bottom: 130px;
}
.section-item {
  margin-top: 195px;
}
.section-title {
  width: 288px;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 24px;
}
.section-description {
  width: 416px;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 15px;
}
.section-list {
  padding-left: 0px;
  list-style: none;
}
.section-list li {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
/* myplan section css */
.my-plan-section {
  margin-bottom: 130px;
}
.plan-container {
  display: flex;
  gap: 189px;
  padding: 0 230px;
  text-align: center;
}
.plan-section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  text-align: center;
  margin-bottom: 50px;
}
.plan-container-title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
}
.plan-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  margin-top: 16px;
}
/* call-info section css */
.call-info {
  width: 1140px;
  height: 300px;
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%),
    url(../images/watch.png);
  border-radius: 8px;
  margin: 0 390px;
}
.call-info-item {
  padding: 70px 50px;
}
.call-info-section-title {
  width: 459px;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 25px;
}
.btn-call-info {
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  border: 0;
  background: #ffffff;
  border-radius: 5px;
  padding: 0px 40px;
}
/* about me section css */
.about {
  margin-top: 130px;
}
.profile-card {
  display: flex;
  background: #ffffff;
  /* box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06); */
  box-shadow: 10px 5px 5px #DCDCDC;
  border-radius: 5px;
  width: 1140px;
  height: 500px;
  margin: 0 350px;
  padding: 50px 50px;
  gap: 280px;
}
.profile-card img {
  height: 380px;
  border-radius: 50%;
  margin-top: 40px;
}
.profile-card p {
  width: 400px;
  font-size: 21px;
  margin-top: 70px;
}

/* footer section css */
.footer-section {
  margin-top: 130px;
  height: 570px;
  background: #151414;
}
.footer-item {
  display: flex;
  padding-top: 115px;
  margin-left: 230px;
  gap: 530px;
}

.footer-title {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 15px;
}
.footer-description {
  width: 485px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 24px;
}
.icon a {
  text-decoration: none;
  padding: 0px 5px;
}
.contact-title {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 30px;
}
.contact input {
  box-sizing: border-box;
  width: 325px;
  height: 64px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  color: #f3f3f3;
  margin-bottom: 15px;
  padding-left: 20px;
}
